body {
  padding: 2rem 1rem;
}
.input-wrapper,
#result,
.todo-wrapper,
.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.input-wrapper > * {
  margin: 0 1rem;
}
#result > img {
  margin: 1rem;
  width: 250px;
  height: 250px;
  object-fit: cover;
}
.todo-wrapper,
.todo {
  flex-direction: column;
}
.todo,
.todo li {
  width: 100%;
}
.todo li {
  align-items: flex-start;
  list-style-type: circle;
  list-style-position: inside;
}
